.body {
    background: #111111;
    font-family: lucinda, "open sans", arial, Tahoma, "Times New Roman", Times, serif, lucinda, verdana, geneva, sans-serif;
    font-size: 14px;
    color: #333333;
    padding-top: 37px;
}

header {
    float: left;
    background: #096bd5;
    width: 100%;
    /*padding: 10px;*/
    position: fixed;
}
.error-email{
    color: #d10707;
    font-size: 13px;
    font-weight: normal;
}
footer {
    text-align: center;
    color: #ffffff;
    font-size: 14px;

    padding: 10px;
}

.img-logo {
    width: 30%;
    float: left;
    font-size: 30px;
    color: #ffffff;
    margin-left: 10px;
}
.img-logo a{
    color: #ffffff;
}

#navbar-right a {
    color: #ffffff;
}

.navbar-collapse {
    color: #ffffff;
}

#navbar-right .navbar-collapse .dropdown:hover {
    background: #52B9E9;
}

.sidebar {
    float: left;

    background: none repeat scroll 0 0 #111111;
    position: relative;
    display: block;

}


.mainbar {
    background: none repeat scroll 0 0 #FFFFFF;
    margin-left: 200px;
    margin-right: 0;
    min-height: 600px;
    height: auto;
    position: relative;
    width: auto;
    overflow: hidden;

}

.content {
    padding-top: 5px;
}

.sidebar .navi li i {
    margin-right: 5px;
}

.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar .sidebar-inner {
    background: none repeat scroll 0 0 #383E4B;
    display: block;
    margin: 0 auto;
    position: absolute;
    width: 100%;
    z-index: 60;

}

.sidebar .sidebar-widget {
    padding: 10px 5px;
}

/**menu left**/
.active {
    background-color: #222 !important;
}

.display_map {
    float: right;
    width: 530px;
    height:450px;
}

.sidebar-inner .navi li ul {
    display: none;
}

.sidebar-inner .navi li:hover ul {
    display: block;
    position: relative;
}

.sidebar .sidebar-inner ul li a:focus {
    background: #222222;

}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600');

.navbar * {
    background-image: none !important;
}

form * {
    font-family: lucinda, "Open Sans", Arial, Helvetica, sans-serif;
}

.btn {

    font-family: lucinda, "Open Sans", Arial, Helvetica, sans-serif;
}

.btn.btn-mini {
    font-size: 11px !important;
}

h1, h2, h3, h4, h5, h6 {
    padding: 2px 0px;
    margin: 2px 0px;
    color: #777;
    font-weight: 400;
}

h2 {
    font-size: 30px;
    line-height: 40px;
}

h3 {
    font-size: 23px;
    line-height: 33px;
}

h4 {
    font-size: 20px;
    line-height: 30px;
}

h5 {
    font-size: 18px;
    line-height: 28px;
}

h6 {
    font-size: 15px;
    line-height: 25px;
}

p {
    padding: 1px 0px !important;
    margin: 1px 0px !important;
}

a {
    color: #333;
    /*text-decoration: none !important;*/
}

a:hover {
    color: #888;
    text-decoration: none;
}

a:hover, a:focus, a:active {
    outline: 0;
}

.bold {
    font-weight: 600;
}

hr {
    margin: 8px 0px 8px 0px !important;
    padding: 0px !important;
    border-top: 0px;
    border-bottom: 1px solid #ddd !important;
    height: 0px;
}

:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}

.well {
    padding: 10px 15px;
}

.label {
    font-weight: 400;
    font-size: 13px;
}

.badge {
    font-weight: 400;
    padding: 3px 8px;
    font-size: 13px;
}

.progress {
    height: 17px;
    line-height: 17px;
    margin: 5px 0px !important;
    border: 0px;
}

.progress .bar {
    font-size: 12px;
}

.picker {
    padding: 5px;
    border-radius: 5px !important;
}

/* Sparkline tooltip */

.jqstooltip {
    width: auto !important;
    height: auto !important;
    border-radius: 5px;
    padding: 4px 6px !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
    border: 0 !important;
}

/* Button colors */

.btn.btn-primary {
    background: #1171a3 !important;
    min-width: 90px;
}

.body-login {
    background: #111111;
}

.title-login {
    padding: 10px;
    background: #096bd5;
    color: #ffffff;
    font-weight: bold;
    font-family: "open sans", arial, lucinda, verdana, geneva, sans-serif;
}
.icon-link:before{
    color: #096BD5;
}
.checkin{
   margin-left: 270px;
    margin-top: 26px;
    position: absolute;
    width: 270px;
    font-weight: bold;
}
.checkin a{
    /*//text-decoration: underline;*/
    color: #096BD5;
}
.checkin a:hover{
    color: #0092ef;
}
.icon-lock:before {
    font-size: 26px;
    padding-right: 5px;
}

.btn.btn-primary:hover {
    background: #0f608b !important;
}

.btn.btn-info {
    background: -webkit-linear-gradient(top, #096BD5 ,#52B9E9 ,#096BD5 ); /*fix for chome*/
    background: -moz-linear-gradient(center top , #096BD5, #52B9E9, #096BD5); /*fix for firefox*/

    /*-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#096BD5, endColorStr=#52B9E9);*/

    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#096BD5, endColorStr=#52B9E9);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    font-size: 14px;
    font-family: lucinda, "open sans", Arial;
}

.btn.btn-info:hover {
    background: #459fc9 !important;
}

.btn.btn-success {
    background: #43c83c !important;
}

.btn.btn-success:hover {
    background: #36a530 !important;
}

.btn.btn-warning {
    background: #f88529 !important;
}

.btn.btn-warning:hover {
    background: #d67323 !important;
}

.btn.btn-danger {
    background: #fa3031 !important;
}

.btn.btn-danger:hover {
    background: #d82829 !important;
}

/* Label colors */

.label.label-success,
.badge.badge-success {
    background: #43c83c !important;
}

.label.label-warning,
.badge.badge-warning {
    background: #f88529 !important;
}

.label.label-important,
.badge.badge-important {
    background: #fa3031 !important;
}

.label.label-info,
.badge.badge-info {
    background: #52b9e9 !important;
}

/* Background colors */

.blightblue {
    background: #52b9e9 !important;
    color: #fff !important;
    border: 0px !important;
}

.bblue {
    background: #1171a3 !important;
    color: #fff !important;
    border: 0px !important;
}

.bgreen {
    background: #43c83c !important;
    color: #fff !important;
    border: 0px !important;
}

.borange {
    background: #f88529 !important;
    color: #fff !important;
    border: 0px !important;
}

.bred {
    background: #fa3031 !important;
    color: #fff !important;
    border: 0px !important;
}

.bviolet {
    background: #932ab6 !important;
    color: #fff !important;
    border: 0px !important;
}

.blightblue h2, .blightblue h3, .blightblue h3, .blightblue h4, .blightblue h5, .blightblue h6,
.bblue h2, .bblue h3, .bblue h3, .bblue h4, .bblue h5, .bblue h6,
.bgreen h2, .bgreen h3, .bgreen h3, .bgreen h4, .bgreen h5, .bgreen h6,
.bred h2, .bred h3, .bred h3, .bred h4, .bred h5, .bred h6,
.bviolet h2, .bviolet h3, .bviolet h3, .bviolet h4, .bviolet h5, .bviolet h6,
.borange h2, .borange h3, .borange h3, .borange h4, .borange h5, .borange h6 {
    color: #fff !important;
}

.blightblue a,
.bblue a,
.bgreen a,
.bred a,
.borange a,
.bviolet a {
    color: #eee !important;
}

.blightblue a:hover,
.bblue a:hover,
.bgreen a:hover,
.bred a:hover,
.borange a:hover,
.bviolet a:hover {
    color: #ddd !important;
}

/* Text colors */

.lightblue {
    color: #52b9e9 !important;
}

.blue {
    color: #1171a3 !important;
}

.green {
    color: #43c83c !important;
}

.orange {
    color: #f88529 !important;
}

.red {
    color: #fa3031 !important;
}

.violet {
    color: #932ab6 !important;
}

/* Modal */

.modal-header {
    padding-top: 7px;
    padding-bottom: 7px;
}

/* Back to top */

.totop {
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 104400;
    background: #fa3031;
}

.totop a, .totop a:visited {
    display: block;
    width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    line-height: 30px;
}

.totop a:hover {
    color: #eee;
    text-decoration: none;
}

/* Half column - CHECK LATER */

.col-left {
    width: 48%;
    float: left;
}

.col-right {
    width: 48%;
    float: right;
}

/* Dropdown menu */

.dropdown-big .dropdown-menu {
    min-width: 250px;
    padding: 8px 10px;
    background: #fff;
}

.dropdown-big .dropdown-menu p {
    margin: 1px 0px;
    padding: 1px 0px;
    font-size: 12px;
    line-height: 18px;
}

.dropdown-big .dropdown-menu a {
    font-size: 13px;
    line-height: 23px;
    background: transparent;
    padding: 0px;
    color: #444 !important;
    display: inline;
}

.dropdown-big .dropdown-menu a:hover {
    color: #777 !important;
    background: transparent !important;
}

.dropdown-big .dropdown-menu .drop-foot {
    text-align: center;
}

.dropdown-big .dropdown-menu .drop-foot a {
    font-size: 12px !important;
}

.dropdown-big .dropdown-menu hr {
    padding: 0px;
    margin: 8px 0px;
    border-top: 0px solid #aaa;
    border-bottom: 1px solid #eee;
}

.dropdown-big .dropdown-menu h5 {
    color: #666 !important;
    line-height: 18px;
    font-weight: bold;
    font-size: 13px;
}

/*.dropdown-menu {*/
    /*background: #52B9E9;*/
    /*color: #ffffff;*/
/*}*/

.dropdown-menu li {
    color: #777;
    font-size: 13px;
    line-height: 18px;
}

.col-md-12 {
    margin: 0 auto;
}

#example tr td.text-center {
    text-align: center;
}

.icon-list {
    padding-right: 5px;
    margin-right: 5px;
}

.round-list {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-border-radius: 1em;
    margin-top: 10px;
    border: 1px solid #52B9E9;
    background: #fafafa;
    height: auto;
    min-height: 400px;

}

#example_wrapper {
    padding: 10px;
}

#example tr th {
    color: #096bd5;
}

.title-table {
    background-color: #EBEBEB;
    background: -moz-linear-gradient(center top, #F7F7F7, #EBEBEB);
    border-bottom: 1px solid #D9D9D9;
    border-radius: 8px 8px 0 0;
    line-height: 24px;
    padding: 10px;
    color: #096bd5;
    font-weight: bold;
}

.dropdown-menu li > a {
    color: #555;
    line-height: 23px !important;
}

.dropdown-menu li > a:hover {
    background: #0088CC;
    color: #888;

}

.span6 {
    width: 400px;
    float: left;
}

.span6 .dataTables_paginate {
    float: right;
}

.form-horizontal select {
    border: 1px solid #b3b3b3;
}

.dropdown-menu::after, .dropdown-menu::before {
    border: none !important;
}

/* Navbar */

.navbar * {
    text-shadow: none !important;
}

.navbar .container {
    max-width: 100%;
}

.navbar {
    background: #000;
}

.navbar .navbar-brand {
    color: #fff !important;
}

.navbar .nav > li > a {
    font-size: 13px !important;
    color: #fff !important;
}

.navbar i {
    margin-right: 3px;
}

.navbar .caret {
    border-top-color: #fff !important;
    border-bottom-color: #fff !important;
}

.navbar .nav-user-pic {
    width: 20px;
    margin-right: 10px;
    display: inline-block;
}

.navbar .badge {
    margin-left: 5px;
}

/* Notification */

.gritter-custom p {
    font-size: 13px;
    line-height: 18px;
    color: #fff;
}

/* Sidebar */

.sidebar {
    width: 200px;
    float: left;
    display: block;
    background: #111;
    color: #eee;
    position: relative;
}

.sidebar hr {
    border-bottom: 1px solid #333 !important;
}

.sidebar ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.sidebar ul li {
    list-style-type: none;
}

.sidebar .sidebar-inner {
    display: block;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    z-index: 60;
    background: #111;
}

.sidebar .navi li i {
    margin-right: 5px;
}

.sidebar .navi li span i {
    margin: 0px;
}

.sidebar .menu-left > li > a {
    display: block;
    padding: 12px 20px;
    font-size: 15px;
    line-height: 25px;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #222;
    background-color: #111;
}

.sidebar .menu-left li a:hover{
    border-bottom: 1px solid #2a2a2a;
    background-color: #222;
    color: #fff;
}

/*.sidebar .navi > li > a:hover, .sidebar .navi > li.open > a {*/
    /*border-bottom: 1px solid #2a2a2a;*/
    /*background-color: #222;*/
    /*color: #fff;*/
/*}*/



.sidebar .navi li.open ul {
    display: block;
}

.sidebar .navi li ul li a {
    display: block;
    background: none;
    padding: 10px 0px;
    padding-left: 30px;
    text-decoration: none;
    color: #999;
    border-bottom: 1px solid #222;
}

.sidebar .navi li ul li.active a {
    background: #131313;
    border-bottom: 1px solid #222;
}

.sidebar .navi li ul li a:hover {
    background: #131313;
    border-bottom: 1px solid #222;
}

/* Sidebar colors */
.sidebar .menu-left li a img{
    margin-right: 5px;
}
.icon-file-alt,.icon-cog{
    padding-right: 5px; margin-right: 5px;
    font-size: 18px;
}


li.current.nred > a {
    background: #52B9E9 !important;

}

/* Sidebar dropdown */

.sidebar .sidebar-dropdown * {
    text-decoration: none;
}

.sidebar .sidebar-dropdown {
    display: none;
}

.sidebar .sidebar-dropdown a {
    color: #ddd;
    background-color: #343434;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    font-size: 13px;
    line-height: 19px;
    display: block;
    border-top: 1px solid #666;
    border-bottom: 1px solid #333;
}

.sidebar .sidebar-dropdown a:hover {
    text-decoration: none;
}

/* Sidebar widget */

.sidebar .sidebar-widget {
    padding: 10px 5px;
}

.sidebar .ui-datepicker {
    width: 95%;
    margin: 0 auto;
    background: #111;
    color: #888;
    border: 0px;
    padding: 0px;
}

.sidebar .ui-datepicker-header {
    background: #222;
    border: 1px solid #212121;
}

.sidebar .ui-datepicker-prev:hover {
    background: transparent;
    border: 0px;
    top: 2px !important;
    left: 2px !important;
}

.sidebar .ui-datepicker-next:hover {
    background: transparent;
    border: 0px;
    top: 2px !important;
    right: 2px !important;
}

.sidebar .ui-state-default {
    background: #222;
    border: 0px;
    text-align: center;
    color: #ccc;
}

.sidebar .ui-state-default:hover {
    background: #282828;
    color: #999;
}

.sidebar .ui-state-hightlight, .sidebar .ui-state-active {
    background: #444;
}

/* Main */

.mainbar .container {
    max-width: 100% !important;
}

/* Pagination*/

.pagination {
    margin: 10px 0px 5px 0px;
}

.pagination ul > li > a, .pagination ul > li > span {
    border: 1px solid #ccc;
    margin-right: 3px;
    padding: 3px 8px;
    background-color: #fff;
    color: #666;
}

.pagination ul > li > a:hover {
    color: #333;
    background: #fafafa;
}

/* Page head */

.mainbar .page-head {
    padding: 15px 20px;
    border-bottom: 1px solid #fff;
}

.mainbar .page-meta {
    font-size: 13px;
    line-height: 15px;
    margin-left: 2px;
    display: block;
}

/* Bread crumb */

.mainbar .bread-crumb {
    font-size: 13px;
    margin-top: 15px;
    color: #aaa;
    margin-left: 2px;
}

.mainbar .bread-crumb i {
    margin-right: 3px;
    display: inline;
    position: static;
    top: 0px;
    width: auto;
}

.mainbar .bread-crumb .divider {
    margin: 0px 3px;
}

.mainbar .bread-crumb a {
    color: #666;
}

.mainbar .bread-crumb a.bread-current {
    color: #888;
}

/* Notificationj Box*/

.slide-box {
    width: 270px;
    z-index: 400;
    position: fixed;
    bottom: 0px;
    right: 5px;
}

.slide-box .slide-box-head {
    line-height: 42px;
    height: 42px;
    cursor: pointer;
    font-size: 15px;
    padding-left: 10px;
}

.slide-box .slide-box-head i {
    margin-right: 10px;
    font-size: 12px;
}

.slide-box .slide-content {
    margin: 0px;
    padding: 0px;
    background: #000;

}

.slide-content .nav-tabs {
    border-bottom: 1px solid #222 !important;
    margin-bottom: 0px !important;
}

.slide-content .nav-tabs > li > a {
    background: #111 !important;
    margin: 0px !important;
    border: 1px solid #222 !important;
    color: #888 !important;
}

.slide-content .nav-tabs > li.active > a {
    color: #ccc !important;
    background: #1c1c1c !important;
}

.slide-content .tab-content {
    padding: 10px;
}

.slide-content hr {
    border-bottom: 1px solid #212121 !important;
}

/* Slidebox data */

.slide-data {
    background: #111;
    border: 1px solid #222;
    margin: 0px;
    margin-bottom: 10px;
    padding: 5px;
}

.slide-data .slide-data-text {
    color: #fff;
    font-weight: 600;
    font-size: 13px;
    float: left;
    width: 60%;
}

.slide-data .slide-data-result {
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    float: right;
    width: 40%;
}

.slide-data .slide-data-result i {
    font-size: 14px;
}

/* Matter */

.mainbar .matter {
    border-top: 1px solid #ddd;
    padding: 15px 0px;
}

/* Widget */

.widget {
    margin-top: 10px;
    margin-bottom: 20px;
    background: #fff;
}

.widget hr {
    margin: 4px 0px;
    padding: 4px 0px;
    border-top: 0px;
    border-bottom: 1px solid #ddd;
}

.widget .table {
    margin: 0px;
    width: 100%;
}

.widget .table-bordered {
    /*border: 0px;*/
}

.widget .table-bordered th {
    border-bottom: 1px solid #ccc !important;
}

.widget .table-bordered td {
    border-top: 0px !important;
    border-bottom: 1px solid #ccc !important;
}

.widget .table-bordered td:first-child, .widget .table-bordered th:first-child {
    border-left: 0px;
}

.widget .padd {
    padding: 15px;
}

.widget .widget-head {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    color: #777;
    font-size: 18px;
    padding: 12px 15px;
}

.widget .widget-head .widget-icons i {
    font-size: 14px;
    margin: 0px 4px;
}

.widget .widget-head .widget-icons a {
    color: #aaa;
}

.widget .widget-head .widget-icons a:hover {
    color: #888;
}

.widget .widget-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;

}

.widget .widget-foot {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-top: 0px;
    padding: 8px 15px;
    font-size: 13px;
    color: #555;
    overflow: hidden;
}

/* Widget Content */

.chats {
    padding-left: 0px;
    margin-left: 0px;
}

.recent {
    padding-left: 0px;
    margin-left: 0px;
}

.quick-post .checkbox label {
    display: inline-block;
}

.quick-post .radio label {
    display: inline-block;
}

.widget-foot .form-inline button {
    margin-left: -3px;
    padding: 7px 12px;
}

.widget-content .form-inline button {
    margin-left: 0px;
    padding: 7px 12px;
}

.buttons button {
    margin-top: 10px;
}

.widget-content .checkbox label {
    display: inline-block;
}

.widget-content ol#slist {
    padding: 0px;
}

.widget-foot {
    padding-left: 95px;
}

.login-with400 {
   /*// border: 1px solid #f;*/
    margin: 0 auto;
    width: 500px;
padding-bottom: 20px;
    background: #ffffff;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.btn-login {
    padding-left: 145px;
    padding-top: 10px;
}

.login-with400 .form-horizontal {
    margin-top: 30px;
}

.login-with400 .form-group {
    padding: 5px;
}

.login-with400 .form-control {
    width: 280px;

}

.form-group .form-control {
    padding-left: 10px;
}

.login-with400 .widget-foot {
    margin-top: 20px;
    padding-bottom: 20px;
    padding-left: 190px;
}

.round-login {
    margin: 0 auto;
    width: 600px;
    height: auto;
    margin-top: 100px;
}

/* Widget colors */
.icon-chevron-up, .icon-remove:before, .icon-chevron-down {
    color: #52B9E9;
}

div small.error {
    color: #B94A48; /* color to match Bootstraps error class */
}

form label.error:before {
    /*border-color: #52B9B9 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);*/
    /*border-style: solid;*/
    /*border-width: 12px;*/
    content: "";
    height: 0;
    position: absolute;
    top: 100%;
    width: 0;
}

form label.error:before {
    /*border-color: #52B9B9 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);*/
    /*border-width: 14px 19px 4px 5px;*/
    left: 6px;
}

form label.error {
    /*background: none repeat scroll 0 0 #D0E9C6;*/
    /*border: 1px solid #52B9B9;*/
    /*border-radius: 6px;*/
    color: #FF0000;
    font-weight: normal;
    /*margin-top: -24px;*/
    padding: 6px;
    position: absolute;
    text-align: center;
    margin-left: 4px;
}

.widget-blue .icon-user {
    padding-right: 9px;
    font-size: 18px;
}

.widget-content table th {
    color: #096bd5;
}

.widget.wred .widget-head {
    border: 1px solid #52B9E9;
    background: -moz-linear-gradient(center top, #F7F7F7, #EBEBEB);

    border-radius: 8px 8px 0 0;
    color: #52B9E9;
    line-height: 24px;
    padding: 10px;
}

.widget.wlightblue .widget-head {
    background-color: #52b9e9;
    border: 1px solid #52b9e9;
    color: #fff;
}

.widget.wblue .widget-head {
    background-color: #1171a3;
    border: 1px solid #1171a3;
    color: #fff;
}

.widget.wgreen .widget-head {
    background-color: #43c83c;
    border: 1px solid #43c83c;
    color: #fff;
}

.widget.worange .widget-head {
    background-color: #f88529;
    border: 1px solid #f88529;
    color: #fff;
}

.widget.wviolet .widget-head {
    background-color: #932ab6;
    border: 1px solid #932ab6;
    color: #fff;
}

.widget.wred .widget-head .widget-icons a,
.widget.wblue .widget-head .widget-icons a,
.widget.wlightblue .widget-head .widget-icons a,
.widget.worange .widget-head .widget-icons a,
.widget.wgreen .widget-head .widget-icons a,
.widget.wviolet .widget-head .widget-icons a {
    color: #fff;
}

.widget.wred .widget-head .widget-icons a:hover,
.widget.wblue .widget-head .widget-icons a:hover,
.widget.wlightblue .widget-head .widget-icons a:hover,
.widget.worange .widget-head .widget-icons a:hover,
.widget.wgreen .widget-head .widget-icons a:hover,
.widget.wviolet .widget-head .widget-icons a:hover {
    color: #eee;
}

/* Widget white extras */

.widget .nav-tabs > li a {
    padding: 5px 10px;
}

.widget .nav-tabs {
    margin-bottom: 5px;
}

.widget .tab-content {
    margin-bottom: 10px;
}

/* Calendar */

.fc-header-title h2 {
    font-size: 15px;
    line-height: 20px;
}

.fc-event-skin {
    background-color: #ff5d5e;
    border-color: #ff3839;
}

.fc-button-month, .fc-button-agendaWeek, .fc-button-agendaDay {
    right: 20px;
}

.fc-state-default {
    background: #eee !important;
}

.fc-state-default:hover {
    background: #ddd !important;
}

.fc-widget-header {
    padding: 7px 0px !important;
    color: #666;
    background: #eee;
    border-color: #ccc;
}

.fc-content {
    background: #fff;
}

.fc-content td:hover {
    background: #f3f3f3;
}

/* Current status */

.current-status {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.current-status .bold {
    font-size: 13px;
    margin-left: 8px;
}

.current-status li {
    padding: 10px 0px;
}

/* Knob */

.dial {
    border: 0px !important;
}

/* Today datas */

.today-datas {
    list-style-type: none;
    padding: 0px;
    margin: 10px 0px;
}

.today-datas li {
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 10px;
    padding: 20px 15px;
    background-color: #f8f8f8;
    background: #f8f8f8;
    border: 1px solid #ccc;
    max-width: 100%;
    text-align: center;
}

.today-datas li .spark {
    margin-right: 10px;
}

.today-datas li .datas-text {
    font-size: 13px;
    padding: 7px 0px 0px 0px;
    font-weight: normal;
}

.today-datas li .datas-text span {
    display: block;
    font-size: 24px;
    margin-bottom: 5px;
}

.today-datas li i {
    font-size: 50px;
    margin-right: 10px;
}

.today-datas li .dial {
    margin-right: 10px !important;
}

/* Profile */

.profile {
    margin-top: 15px;
}

/* Error */

.error-page {
    max-width: 500px;
    margin: 50px auto;
}

.error h1 {
    font-weight: normal;
}

/* Grid */

.show-grid div {
    background: #eee;
    text-align: center;
    margin: 10px 0px;
    border: 1px solid #ddd;
}

/* Slider */

#eq span {
    height: 120px;
    float: left;
    margin: 15px
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1em;
    height: 1em;
    cursor: default;
    background: #fafafa !important;
    border: 1px solid #ccc !important;
}

.ui-slider-horizontal {
    height: .5em;
    border: 0px solid #eee !important;
    background: #dfdfdf !important;
}

.ui-slider-vertical {
    height: 100px;
    width: 0.5em;
    border: 0px solid #fff !important;
    background: #dfdfdf !important;
}

#master1, #master2, #master3, #master4, #master5, #master6 {
    width: 100%;
    margin: 15px 0px !important;
}

.slider-red .ui-widget-header {
    background: #dd514c !important;
    border-color: #dd514c !important;
}

.slider-blue .ui-widget-header {
    background: #36a5c6 !important;
    border-color: #36a5c6 !important;
}

.slider-green .ui-widget-header {
    background: #44c636 !important;
    border-color: #44c636 !important;
}

.slider-yellow .ui-widget-header {
    background: #fcd419 !important;
    border-color: #fcd419 !important;
}

.slider-orange .ui-widget-header {
    background: #fc9419 !important;
    border-color: #fc9419 !important;
}

.slider-violet .ui-widget-header {
    background: #9919fc !important;
    border-color: #9919fc !important;
}

/* Toggle button */

.make-switch {
    margin: 5px 0px;
}

/* Gallery */

.gallery img {
    max-width: 170px;
    margin: 5px;
}

/* Error log */

.error-log {
    height: 400px;
    overflow: auto;
}

.error-log ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.error-log ul li {
    padding: 10px 0px;
}

/* Media */

.medias .checker {
    width: 5px !important;
}

.medias img {
    max-width: 40px;
}
.icon-ok{
    color: forestgreen;padding-right: 2px;
}
.icon-power-off:before, .icon-off:before{
    padding-right: 2px;
    color: #FA3031;
}
.icon-power-off:hover{
    color: #d1602c;
}
/* CL Editor */

.cleditorMain {
    border: 1px solid #ccc;
    margin: 10px 0px;
}

.cleditorMain textarea, .cleditorMain iframe {
    width: 100% !important;
}

/* Chart */

#curve-chart, #live-chart, #pie-chart, #pie-chart2, #pie-chart3 {
    height: 250px;
    max-width: 100%;
}

#bar-chart {
    height: 283px;
    width: 99.5%;
}

#pie-chart, #pie-chart2, #pie-chart3 {
    max-width: 300px;
    margin: 10px auto;
}

/* Support page */

#slist p {
    display: none;
    margin: 5px 0px;
    padding: 5px 10px !important;
    background: #fff;
    line-height: 25px;
    border: 1px solid #eee;
}

#slist {
    margin-left: 20px;
}

#slist li {
    margin-bottom: 10px;
}

#slist li a {
    display: block;
    margin-bottom: 0px;
}

.support-contact i {
    margin-right: 3px;
}

/* Post form */

.post {
    margin-top: 20px;
}

/* Login and Register form */

.admin-form {
    max-width: 500px;
    margin: 50px auto;
}

.admin-form form {
    padding: 10px 0px;
}

/* Responsive */

@media (max-width: 480px) {
    .mainbar .page-head h2 {
        float: none;
    }

    .mainbar .bread-crumb {
        float: none;
        margin-top: 10px;
    }

    .col-left {
        width: 100%;
        float: none;
        /*margin-right: none;*/
    }

    .col-right {
        width: 100%;
        float: none;
    }

    .fc-button-month, .fc-button-agendaWeek, .fc-button-agendaDay {
        display: none;
    }
}

@media (max-width: 767px) {
    body {
        margin: 0 auto;
    }

    .mainbar .matter {
        padding-left: 20px;
        padding-right: 20px;
    }

    .form-inline button {
        margin-left: 0px;
    }

    .navbar, .navbar-inner {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }

    .navbar-collapse .dropdown-big .dropdown-menu {
        color: #bbb !important;
    }

    .navbar-collapse .dropdown-big .dropdown-menu a {
        color: #ccc !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .navbar-collapse .dropdown-big .dropdown-menu a:hover {
        color: #aaa !important;
    }

    .navbar-collapse .dropdown-big .dropdown-menu h5 {
        color: #eee !important;
    }

    .navbar-collapse .dropdown-menu {
        padding: 10px 10px !important;
    }

    .navbar-collapse .dropdown-menu a {
        color: #fff !important;
    }

    .navbar-collapse .dropdown-menu a:hover {
        background: transparent !important;
    }

    .navbar-collapse .dropdown-menu hr {
        border-top: 0px solid #eee;
        border-bottom: 1px solid #333;
    }

    /*.sidebar {*/
        /*float: none;*/
        /*width: 100%;*/
    /*}*/

    .sidebar .sidebar-dropdown {
        display: block;
    }

    .sidebar .sidebar-inner {
        display: none;
        max-width: 300px;
        padding: 0px 20px;
    }

    /*.sidebar .sidebar-widget {*/
    /*}*/



    .today-datas {
        text-align: center;
    }

    .slide-box {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .form {
        margin: 0px !important;
    }

    form .control-group {
        margin: 0px !important;
    }

    form .control-label {
        float: none !important;
        width: auto !important;
        text-align: left !important;
    }

    form .controls {
        float: none !important;
        margin-left: 0px !important;
    }

    form .form-actions {
        padding-left: 0px !important;
    }

    .navbar, .navbar-inner {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }

    .nav-collapse .dropdown-big .dropdown-menu {
        color: #bbb !important;
    }

    .nav-collapse .dropdown-big .dropdown-menu a {
        color: #ccc !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .nav-collapse .dropdown-big .dropdown-menu a:hover {
        color: #aaa !important;
    }

    .nav-collapse .dropdown-big .dropdown-menu h5 {
        color: #eee !important;
    }

    .nav-collapse .dropdown-menu {
        padding: 10px 10px !important;
    }

    .nav-collapse .dropdown-menu a {
        color: #fff !important;
    }

    .nav-collapse .dropdown-menu a:hover {
        background: transparent !important;
    }

    .nav-collapse .dropdown-menu hr {
        border-top: 0px solid #eee;
        border-bottom: 1px solid #333;
    }

    .sidebar {
        width: 200px;
    }


}

/***/
.icon-trash {
    font-size: 18px;
    color: #fa3031;

}

.icon-trash:hover {
    color: #d10707;
}

.icon-plus-sign {
    color: green;
    font-size: 18px;
    margin-right: 4px;
}
.pull-left .icon-user{
    font-size: 18px;
}

.icon-plus-sign:hover {
    color: #17d126;
}
.widget-header .pull-left{
    color: #096bd5;
    font-weight: bold;
}
.icon-pencil {
    color: #096bd5;
    font-size: 18px;
}

.icon-pencil:hover {
    color: #52B9E9;
}

/**/
.table .title-action {
    text-align: center;
    width: 100px;
}

.td-action {
    text-align: center;
}

/**leftForm**/
.leftForm {
    float: left;
}

.rightForm {
    float: left;
}

.leftIcon {
    float: left;
    width: 50%;
    text-align: left;
}

.title-table .btn-info {
    float: right;
    margin-top: -4px;
}

#th-width {
    min-width: 60px;
    width: auto;
    text-align: left;
}

#th-width td {
    text-align: center;
}

tr #th-widthx {

    min-width: 100px;
}
#input-readonly{
    background: #F2F2F2;
    cursor: not-allowed;
}

table tr td{
    font-size: 13px;
}
.seacrh-user{
    width: 100%;
    overflow: hidden;
    text-align: left;
    margin-top: 20px;
    margin-left: 10px;
}
.btn-search{
    min-width: 90px;
}
.icon-list,.icon-file-alt,#group-user,.icon-cog{
    color:#0092ef;
}
.icon-list:hover,.icon-file-alt:hover,#group-user:hover,.icon-cog:hover{
    color: #096BD5;
}
#group-user{
    padding-right: 5px;
    font-size: 18px;
    margin-right: 5px;
}
.controls .select-location{
    width: 220px;

}
.redonly{background:  #ecdddf}
.widget-body .column-left{float: left;width: 427px;border: 1px solid #cfcfcf;}
.widget-body .column-right{float: left;width: 427px}
.wapper .navbar{background: #1171a3;border-radius: 0px}
.history .btn-history{margin-top: 20px}
.datetime{ float: left; width: 155px;}
.add-on {margin-left: 5px;}
.container-fluid select{width: 100%}
.round-login .form-group label{padding-right: 6px}
.footer { font-size: 12px; margin-top: 40px;}
.container-fluid{padding-right: 10px;padding-left: 10px}
.scroll{height: 465px;overflow: scroll;width: 100%}
.success-color {
    background-color: #d9edf7;
}
.table th {font-size: 12px; text-align: center;}
.container-fluid select{font-size: 13px}
.bt-on{font-size: 14px}
.imgVehicle{}
.plateName{font-size:30px;font-weight:bold;text-align:center; border-bottom:1px solid #ddd; padding-bottom:10px}
.tables tr td{border-left: 0px}
.colLeft,.colRight{width: 50%;float: left}
.colLeft .rows{float: left;border-bottom: 1px solid #ddd}
.colLeft{width: 100%;overflow: hidden;}
.rows{width: 100%;overflow: hidden}
.rows .left,.rows .right{width: 50%;float: left}
.rows .left{width: 50%;overflow: auto;float: left}
.rows p{font-size: 18px}
.wrapper-warning{width: 100%;float: left;margin: 0 auto;text-align: center}
.bgreen{background:#5cb85c ;padding: 10px}
.bgred{background: #d10707;padding: 10px}
.bgyellow{background: #d67323;padding: 10px}
.warning{font-size: 18px;font-weight: bold;color: #fff;width: 50%;margin: 0 auto;overflow: hidden; text-align: center}