<div class="footer">
    <div class="container-fluid">
        <p class="text-muted col-xs-12 text-center">© Copyright 2014 by Phòng thí nghiệm trọng điểm quốc gia điều khiển số và kỹ thuật hệ thống, Cty TNHH phát triển công nghệ và thiết bị công nghệ cao</p>
    </div>
</div>

