    <meta http-equiv="content-type" content="text/html" />
    <meta charset="UTF-8" />
    <meta name="author" content="Tran can xe" />
    <title>Cân xe</title>

    <link href="templates/css/bootstrap.min.css" rel="stylesheet">
    <link href="templates/css/style.css" rel="stylesheet">
    <link href="templates/css/bootstrap.icon-large.min.css" rel="stylesheet" media="screen">
    <link href="templates/css/font-awesome.css" rel="stylesheet" media="screen">

    <link rel="stylesheet" href="templates/css/colorbox.css" />
    <link rel="stylesheet" href="templates/css/boostrapTable.css" >
    <link rel="stylesheet" type="text/css" href="templates/css/bootstrap-datetimepicker.min.css"/>

    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <script src="templates/js/jquery.js"></script>
    <script src="templates/js/bootstrap.min.js"></script>






